img {
  max-width: 100%;
}

body {
  font-family: 'Arvo', serif;
  font-weight: bold;
}

body, .navbar {
  background-color: #43BCCD;
}

header, .jumbotron {
  background-color: white;
}

.navbar {
  margin-bottom: 20px;
  width: 100%;
}

.jumbotron {
  padding-bottom: 0;
  margin-bottom: 0;
}

.display-1 {
  font-family: 'Black Han Sans', sans-serif;
  color:#662E9B;
  font-size: 135px;
}

@media screen and (min-width: 768px) {
.display-1 {
    font-size: 160px;
  }
}

button {
  font-family: 'Arvo', serif;
  font-weight: bold;
  font-size: 30px;
}

footer {
  background-color: #662E9B;
  padding-top: 40px;
  padding-bottom: 30px;
}

.back-to-top {
  width:100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* homepage specific */
#carouselExampleIndicators {
  padding-top: 30px;
  padding-bottom: 50px;
}

#tagline {
  width:100%;
}

.custom-select {
  width: 100%;
}

.btn-primary {
  background-color: grey;
  border-color: #43BCCD;
  margin-left: 40px;
}

.btn-primary:hover {
  background-color: #43BCCD;
}

.package-button {
  color: black;
}
.package-button:hover {
  color: #662E9B;
}

.description {
  font-size: 35px;
}

.carousel-item li {
  font-size: 25px;
}

.back-to-top a, p {
  color: white;
  font-size: 20px;
}

/* Package specific */
#package-page .jumbotron {
  padding: 10px 0;
}

#package-page .display-1 {
  font-size: 130px;
}

#package-body {
  padding: 20px 0;
}

.wolf-gb-choice, .chatterbox_gb-choice, .family-gb-choice, .min-choice, .sim-choice, .wolf-payment-choice, .chatter-choice-payment, .family-payment-choice {
  color:#662E9B;
}

.total-amount {
  font-size: 40px;
}
.checkout {
  font-size: 50px;
}

.social-buttons {
  width: 100%;
}

footer img {
  height:180px;
  width:180px;
}

.bottom-text {
  padding-top: 60px;
}

.bottom-text a, p {
  color: white;
  font-size: 20px;
}

.button-clicked, .button-clicked button {
  background-color: grey;
  color:white;
}
