img {
  max-width: 100%;
}
.jumbotron {
  background-color: white;
}
body, .navbar {
  background-color: #4682B4;
}
.navbar {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 20px;
  width: 100%;
}
