img {
  max-width: 100%;
}

header, .jumbotron {
  background-color: white;
}

.jumbotron {
  padding-bottom: 0;
  margin-bottom: 0;
}
body, .navbar {
  background-color: #43BCCD;

}

body {
  font-family: 'Arvo', serif;
  font-weight: bold;
}

h1 {
  font-family: 'Black Han Sans', sans-serif;
}

#carouselExampleIndicators {
  padding-top: 30px;
  padding-bottom: 50px;
}
.display-1 {
  color:#662E9B;
  font-size: 135px;
}

@media screen and (min-width: 768px) {
.display-1 {
    font-size: 160px;
  }
}
#tagline {
  width:100%;
}
.navbar {
  margin-bottom: 20px;
  width: 100%;
}
.custom-select {
  width: 100%;
}
footer {
  background-color: #662E9B;
  padding-top: 40px;
  padding-bottom: 30px;
}

.btn-primary {
  background-color: grey;
  border-color: #43BCCD;
  margin-left: 40px;
}

.btn-primary:hover {
  background-color: #43BCCD;
}

button {
  font-family: 'Arvo', serif;
  font-weight: bold;
  font-size: 30px;
}

.package-button {
  color: black;
}

.package-button:hover {
  color: #662E9B;
}

.back-to-top {
  width:100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.back-to-top a, p {
  color: white;
  font-size: 20px;
}

.description {
  font-size: 35px;
}

.carousel-item li {
  font-size: 25px;
}
